[Service]
Description=Copy the root credentials to the management user
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/clone-credentials.sh

[Install]
WantedBy=rescue.target
